<div class="div-home">
    <header>
        <div class="div-botao-inicio">
            <button class="div-inicio">Início</button>
        </div>

        <div class="div-pesquisa">
            <input type="text" placeholder="O que deseja ouvir?">
        </div>

        <div class="div-cadastro">
            <button class="div-cadastro">Cadastre-se</button>
        </div>

        <div class="div-botao-entrar">
            <button class="div-entrar">Entrar</button>
        </div>
    </header>

    <aside class="div-sidebar">
        <div class="div-sua-biblioteca">
            <h2>Sua Biblioteca</h2>
            <button class="div-botao-criar-playlist-pasta">+</button>
        </div>
        <div class="div-playlist">
            <p>Deseja criar alguma playlist?</p>
            <button class="div-botao-playlist">Criar playlist</button>
        </div>
        <div class="div-podcasts">
            <p>Desejar explorar podcasts?</p>
            <button class="div-botao-podcasts">Explorar podcasts</button>
        </div>
    </aside>
</div>