<div class="div-home">
    <header>
        <div class="div-container">
            <div class="div-espaco">
                <div class="div-botao-inicio">
                    <button class="div-inicio" routerLink="/home">Início</button>
                </div>

                <div class="div-pesquisa">
                    <input type="text" placeholder="O que deseja ouvir?">
                </div>
            </div>
            <div class="div-espaco">

                <div class="div-cadastro">
                    <button class="div-cadastro" routerLink="/cadastro">Cadastre-se</button>
                </div>

                <div class="div-botao-entrar">
                    <button class="div-entrar" routerLink="/login">Entrar</button>
                </div>
            </div>
        </div>
    </header>

    <aside class="div-sidebar">
        <div class="div-sidebar-nav">
            <ul>
                <li><a href="">
                        <span class="library">Sua Biblioteca</span>
                    </a>
                </li>
                <li>
                    <div class="sidebar-scroll">
                        <div class="criar-playlist">
                            <h4>Crie sua playlist</h4>
                            <p>É fácil, vamos te ajudar</p>
                            <button>Criar Playlist</button>
                        </div>
                        <div class="criar-playlist">
                            <h4>Que tal seguir um podcast novo?</h4>
                            <p>Avisaremos você sobre novos episódios</p>
                            <button>Explore podcasts</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="spotify-playlist">
            <h2>Ouvidas Recentemente</h2>
            <div class="card">
                <div *ngFor="let musica of musicasOuvidasRecentemente">
                    <app-card-musica [musica]="musica"></app-card-musica>
                </div>
            </div>
        </div>
        <div class="spotify-playlist">
            <h2>Top Senac</h2>
            <div class="card">
                <div *ngFor="let musica of musicasTopSenac">
                    <app-card-musica [musica]="musica"></app-card-musica>
                </div>
            </div>
        </div>
        <div class="spotify-playlist">
            <h2>Em Alta</h2>
            <div class="card">
                <div *ngFor="let musica of musicasEmAlta">
                    <app-card-musica [musica]="musica"></app-card-musica>
                </div>
            </div>
        </div>
    </main>
</div>