<div class="div-home">
    <header>
        <div class="div-container">
            <div class="div-espaco">
                <div class="div-botao-inicio">
                    <button class="div-inicio" routerLink="/home">Início</button>
                </div>

                <div class="div-pesquisa">
                    <input type="text" placeholder="O que deseja ouvir?">
                </div>
            </div>
            <div class="div-espaco">

                <div class="div-cadastro">
                    <button class="div-cadastro" routerLink="/cadastro">Cadastre-se</button>
                </div>

                <div class="div-botao-entrar">
                    <button class="div-entrar" routerLink="/login">Entrar</button>
                </div>
            </div>
        </div>
    </header>

    <aside class="div-sidebar">
        <div class="div-sidebar-nav">
            <ul>
                <li>
                    <a class="library" routerLink="/cadastro-musica">Adicionar Música</a>
                </li>
                <li>
                    <div class="sidebar-scroll">
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="spotify-playlist">
            <h2>Musicas</h2>
            <div class="card">
                <div *ngFor="let musica of musicas">
                    <app-card-musica [musica]="musica"></app-card-musica>
                </div>
            </div>
        </div>
    </main>
</div>