/* ocupa a tela inteira e centraliza a caixa */
.cadastro-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* caixa central */
.cadastro-box {
    background-color: #242424;
    padding: 40px 30px;
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* título */
.cadastro-box h2 {
    text-align: center;
    font-size: 2rem;
}

/* form */
.cadastro-box form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* input */
.cadastro-box input {
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: #181818;
    color: #fff;
}

.cadastro-box input::placeholder {
    color: #b3b3b3;
}

.cadastro-box input:focus {
    outline: 2px solid rgba(255, 0, 157, 0.664);
}

/* botão */
.cadastro-box button {
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 0, 157, 0.664);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.cadastro-box button:hover {
    background-color: rgba(145, 1, 92, 0.877);
    transform: scale(1.05);
}