.spotify-playlist .card .item 
{
    width: 160px;
    min-width: 140px;
    background-color: #272626;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}

.spotify-playlist .card .item:hover 
{
    background-color: rgb(51, 51, 51);
}

.spotify-playlist .card .item img 
{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlist .item h4 
{
    color: #fff;
}

.spotify-playlist .item p 
{
    color: #8f8e8e;
    font-size: 13px;
    margin-top: 10px;
}

.spotify-playlist .item p:hover 
{
    text-decoration: underline;
}

.spotify-playlist .play-btn span 
{
    position: relative;
    background-color: #1db954;
    border-radius: 50%;
    padding: 10px;
    right: 8px;
    top: -40;
    opacity: 0;
    transform: 0.3s ease all;
}

.spotify-playlist .item:hover .play-btn span 
{
    opacity: 1;
    transform: translateY(-20px);
}